# Python bytecode
__pycache__/

# Django migrations
*.log

# Environment variables
.env

# VS Code
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Package distribution
*.egg
*.egg-info

# pipenv
Pipfile.lock
.DS_Store
/doc/.DS_Store
/doc/sprint_reports/.DS_Store
